<section class="blog">
  <section class="blog-grids">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-10 col-xl-8 text-center">
          <h1 class="fs-2 mb-1">
            Blog &amp; News
            <p class="mb-3 mx-auto">Learn More &amp; Empower Yourself</p>
            <div class="search_widget">
              <form action="#" class="mb-4">
                <input
                  type="text"
                  id="searchTerm"
                  name="q"
                  placeholder="search.."
                  value="<%= searchTerm %>"
                  class="p-3"
                />
                <button type="submit">
                  <i class="icon-search"> </i>
                </button>
              </form>
            </div>
          </h1>
        </div>
      </div>
      <div class="row mt-5">
        <% if(data.tag){ %>
        <p>Result of tag <%= data.tag %></p>
        <%}%> <% data.blogs.forEach(post => { %>
        <div class="col-lg-4 col-md-6">
          <div class="single-blog">
            <div class="blog-image">
              <a href="blog-details.php">
                <img alt="blog" src="<%= post.image %>" />
              </a>
            </div>
            <div class="blog-content">
              <span class="blog-date"> <%= post.published_date %></span>
              <h3 class="blog-title">
                <a href="/blogs/<%= post.slug %>"> <%= post.title %> </a>
              </h3>
              <p class="blog-desc"><%- post.content.substring(0, 200) %>...</p>
            </div>
          </div>
        </div>
        <% }); %>

        <div class="">
          <ul class="pagination">
            <% if (data.currentPage > 1) { %>
            <li class="nav">
              <a href="?page=<%= data.currentPage - 1 %>&q=<%= searchTerm %>"
                >« Prev</a
              >
            </li>
            <% } %> <% for (let i = 1; i <= data.totalPages; i++) { %>
            <li class="<%= data.currentPage === i ? 'active' : '' %>">
              <a href="?page=<%= i %>&q=<%= searchTerm %>"><%= i %></a>
            </li>
            <% } %> <% if (data.currentPage < data.totalPages) { %>
            <li class="nav">
              <a href="?page=<%= data.currentPage + 1 %>&q=<%= searchTerm %>"
                >Next »</a
              >
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </section>
</section>
