<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= meta_title %></title>
    <meta name="title" content="<%= meta_title %>">
    <meta name="description" content="<%= meta_description %>" />
    <link rel="canonical" href="<%= site_url %>">
    <link rel="icon" href="<%= logo %>" type="image/x-icon">

    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <link href="/assets/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="main-content">
      <% if (alert) { %>
        <div class="alert <%= alert.type %> alert-dismissible fade show mt-3 alert-custom" role="alert">
          <%= alert.message %>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
      <% } %>
      <%- body %>
    </div>
    <script src="/assets/nice-iconly/assets/vendor/jquery/jquery-3.6.1.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/assets/scripts.js"></script>
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow.js/1.1.2/wow.min.js"></script>
</body>
</html>
