<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title ?? 'Title' %></title>
    <meta name="title" content="<%= meta_title ?? title %>" />
    <meta name="description" content="<%= meta_description %>" />
    <meta property="og:title" content="<%= memories.meta_title %>" />
    <meta
      property="og:description"
      content="<%= memories.meta_description %>"
    />
    <meta
      property="og:image"
      content="https://innerjourney.tech<%= memories.og_image %>"
    />
    <meta property="og:image:type" content="<%= memories.og_image_type %>" />
    <meta property="og:image:width" content="<%= memories.og_image_width %>" />
    <meta
      property="og:image:height"
      content="<%= memories.og_image_height %>"
    />
    <meta property="og:type" content="<%= memories.og_type %>" />
    <link rel="canonical" href="<%= memories.site_url %>" />
    <link rel="icon" href="<%= memories.favicon %>" type="image/x-icon" />

    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      as="style"
    />
    <link rel="preload" href="/assets/css/style.css" as="style" />
    <link rel="preload" href="/assets/css/select2.min.css" as="style" />
    <link rel="preload" href="/assets/css/animate.min.css" as="style" />
    <link
      rel="preload"
      href="/assets/nice-iconly/assets/vendor/iconly/iconly.min.css"
      as="style"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/select2.min.css" />
    <link rel="stylesheet" href="/assets/css/animate.min.css" />
    <link
      href="/assets/nice-iconly/assets/vendor/iconly/iconly.min.css"
      rel="stylesheet"
    />
    <%- memories.adsense_gtm %> <%- memories.richsnippet_code %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <div>
      <% if (alert) { %>
      <div
        id="alert-container"
        class="alert <%= alert.type %> alert-dismissible fade show mt-3 alert-custom"
        role="alert"
      >
        <div class="d-flex align-items-center">
          <div class="loading-spinner me-2"></div>
          <span style="padding-right: 20px"><%= alert.message %></span>
          <button
            type="button"
            class="btn-close text-white"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
      </div>
      <% } %>
    </div>
    <div class="main-content"><%- body %></div>
    <%- include('./partials/footer.ejs') %>

    <script src="/assets/nice-iconly/assets/vendor/jquery/jquery-3.6.1.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/js/select2.min.js"></script>
    <script type="module" src="/assets/js/script.js"></script>

    <%- memories.hitstat_code %>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      var alertElement = document.getElementById('alert-container');
      if (alertElement) {
        setTimeout(() => {
          var alert = bootstrap.Alert.getOrCreateInstance(alertElement);
          alert.close();
        }, 1800);
      }
    });
  </script>
</html>
