<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <meta name="title" content="<%= meta_title %>">
    <meta name="description" content="<%= meta_description %>" />
    <link rel="canonical" href="<%= site_url %>">

    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <link href="/assets/select2.min.css" rel="stylesheet" />
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="main-content">
      <%- body %>
    </div>
    <script src="/assets/nice-iconly/assets/vendor/jquery/jquery-3.6.1.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/assets/scripts.js"></script>
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/select2.min.js"></script>
</body>
</html>
