<div class="pagetitle mb-3">
  <div class="row align-items-center">
    <div class="col-md-8 mt-2">
      <h1>Users List</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin">Home</a></li>
          <li class="breadcrumb-item active">Users List</li>
        </ol>
      </nav>
    </div>
    <div class="col-md-4">
      <div class="text-end">
        <a href="/admin/add-users" type="button" class="btn btn-primary"
          >Add User</a
        >
      </div>
    </div>
  </div>
</div>
<!-- End Page Title -->
<section class="section">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">User List</h5>
          <table
            id="datatable"
            class="table table-bordered dt-responsive nowrap"
            style="border-collapse: collapse; border-spacing: 0; width: 100%"
          >
            <thead>
              <tr>
                <th>User Id</th>
                <th>Picture</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Location</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% datas.forEach(item => { %>
              <tr>
                <td><%= item.id %></td>
                <td>
                  <img
                    src="assets/img/preview.png"
                    class="img-thumbnail"
                    width="50"
                  />
                </td>
                <td><%= item.name %></td>
                <td><%= item.username %></td>
                <td><%= item.email %></td>
                <td><%= item.location %></td>
                <td class="tw-100">
                  <!-- Buttons for edit and delete actions -->
                  <a
                    href="/admin/update-users/<%= item.id %>"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Edit"
                    class="btn btn-warning btn-sm"
                    ><i class="icon-edit"></i
                  ></a>
                  <a
                    href="/admin/delete-users/<%= item.id %>"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Delete"
                    class="btn btn-danger btn-sm"
                    ><i class="icon-trash-alt"></i
                  ></a>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
