<div class="layout-brands">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#" class="nav-link active">Autocatalog</a>
    </li>
  </ul>
</div>
<section class="brands">

  <form action="/brands" method="GET" class="search-form">
    <input type="text" id="searchTerm" name="q" placeholder="Input brand name..." value="<%= searchTerm %>">
    <button type="submit">Cari</button>
  </form>

  <div class="brand-list">
    <div class="alphabet-list">
      <% 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split('').forEach(letter => { %>
        <a href="#<%= letter.toLowerCase() %>"><%= letter %></a>
      <% }) %>
    </div>
    
    <% let currentLetter = ''; %>
    <% brands.forEach(brand => { %>
      <% if (brand.name[0].toUpperCase() !== currentLetter) { %>
        <% currentLetter = brand.name[0].toUpperCase(); %>
        <div class="letter" id="<%= currentLetter.toLowerCase() %>"><%= currentLetter %></div>
      <% } %>
      <a href="/brands/<%= brand.id %>/models" class="brand-card">
        <div class="brand">
          <img src="/assets<%= brand.image_path %>" alt="<%= meta_title %>" onerror="this.onerror=null; this.src='/notbrands.webp';">
          <h3><%= brand.name %></h3>
        </div>
      </a>
    <% }) %>
  </div>
</div>