<div class="layout-brands">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="/brands" class="nav-link">Autocatalog</a>
    </li>
    <li class="nav-item">
      <span class="arrow">&rarr;</span>
    </li>
    <li class="nav-item">
      <a href="/brands/<%= datas[0].b_id %>/models" class="nav-link"
        ><%= datas[0].brand_name %></a
      >
    </li>
    <li class="nav-item">
      <span class="arrow">&rarr;</span>
    </li>
    <li class="nav-item">
      <a
        href="/brands/models/<%= datas[0].m_id %>/generations"
        class="nav-link"
        ><%= datas[0].model_name %></a
      >
    </li>
    <li class="nav-item">
      <span class="arrow">&rarr;</span>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link active"><%= datas[0].generation_name %></a>
    </li>
  </ul>
</div>

<div class="container genlist p-2">
  <% datas.forEach(item => { %>
  <a href="/specs/<%= item.id%>" class="standar-link">
    <div class="card col-6 p-4 ps-lg-5 mb-2">
      <div class="label <%= item.flag === 'red' ? 'label-red' : 'label-green' %> ">
       
      </div>
      <h5><%= item.engine %></h5>
      <span><%= item.start_production %> - <%= item.end_production %></span>
      <span><%= item.acceleration_100kmh %></span>
    </div>
  </a>
  <% }) %>
</div>
