<div class="home">
  <section class="recent-cars">
    <h3>NEW ARRIVALS</h3>
    <h1>Let's Check Latest <span>Cars</span></h1>

    <div class="container p-4">
      <div class="row d-flex justify-content-center">
        <% recentCars.forEach(rc => { %>
        <div class="col-12 col-sm-12 col-md-4 col-lg-3">
          <a href="/specs/<%= rc.id %>" class="model-link">
            <div class="recent-card">
              <div class="frame">
                <img
                  src="/assets/<%= rc.image_path %>"
                  alt="Relist"
                  onerror="this.onerror=null; this.src='/nomodels.webp';"
                />
              </div>
              <p><%= rc.generation_name %></p>
              <p><%= rc.engine %></p>
              <h6 class="text-start"><%= rc.body_type %></h6>
            </div>
          </a>
        </div>
        <% }) %>
      </div>
    </div>
  </section>
</div>
