<div class="home">
  <section class="container text-center p-5 mb-5">
    <span class="text-danger fw-semibold">WELCOME TO WEBMOBIL</span>
    <h1 class="fw-bold mt-3">Best Way to Find Your Dream Car</h1>
    <p style="max-width: 600px; margin: 20px auto; font-size: 20px;" class="text-secondary">
      There are many variations of passages orem psum available but the majority have suffered alteration in some form by injected humour.
    </p>
    <div class="flex-lg-wrap" style="gap: 10px;">
      <button class="theme-btn w-auto">About More</button>
      <button class="btn-white w-auto">Learn More</button>
    </div>
  </section>
  <section class="recent-cars bg-light position-relative">
    <div class="w-75 bg-white shadow-sm p-3" style="height: 250px; position: absolute; top: -60px; left: 12%; border-radius: 8px;">
      <h3 class="fw-bold">Let's Find Your Car</h3>
      <div class="row">
        <label for="input-brand" class="col-2 col-form-label"
          >Brand</label
        >
        <div id="area-input" class="col-9 col-lg-3">
          <select
            id="input-brand"
            name="brand_id"
            class="form-select"
            style="width: 100%"
            aria-label="Brand"
          ></select>
          </a>
        </div>
      </div>
      <div class="row">
        <label for="input-model" class="col-2 col-form-label"
          >Model</label
        >
        <div id="area-input" class="col-9 col-lg-3">
          <select
            id="input-model"
            name="model_id"
            class="form-select"
            style="width: 100%"
            aria-label="Model"
          ></select>
        </div>
      </div>
      <div class="row">
        <label for="input-generation" class="col-2 col-form-label"
          >Generation</label
        >
        <div id="area-input" class="col-9 col-lg-3">
          <select
            id="input-generation"
            name="generation_id"
            class="form-select"
            style="width: 100%"
            aria-label="Generation"
          ></select>
        </div>
      </div>
      <div class="row">
        <label for="input-engine" class="col-2 col-form-label">Engine</label>
        <div id="area-input" class="col-9 col-lg-3">
          <select
            id="input-engine"
            name="engine"
            class="form-select"
            style="width: 100%"
            aria-label="Engine"
          ></select>
        </div>
      </div>
      <!-- <div class="row">
        <label for="input-year-make" class="col-md-2 col-lg-2 col-form-label">Year</label>
        <div class="col-md-6 col-lg-4">
          <input
            type="date"
            id="input-year-make"
            name="year_make"
            class="form-control"
            placeholder="YYYY"
            min="1900-01-01"
            max="2099-12-31"
          />
        </div>
      </div> -->
      
    </div>
    <h3>NEW ARRIVALS</h3>
    <h1>Let's Check Latest <span>Cars</span></h1>

    <div class="container p-4">
      <div class="row d-flex justify-content-center">
        <% recentCars.forEach(rc => { %>
        <div class="col-11 col-sm-12 col-md-4 col-lg-2">
          <a href="/specs/<%= rc.id %>" class="model-link">
            <div class="recent-card">
              <div class="frame">
                <img
                  src="/assets/<%= rc.image_path %>"
                  alt="Relist"
                  onerror="this.onerror=null; this.src='/nomodels.webp';"
                />
              </div>
              <p><%= rc.generation_name %></p>
              <p><%= rc.engine %></p>
              <h6 class="text-start"><%= rc.body_type %></h6>
            </div>
          </a>
        </div>
        <% }) %>
      </div>
    </div>
  </section>
</div>
