<div class="home">
  <section class="container text-center p-5 mb-5">
    <span class="text-danger fw-semibold text-uppercase">WELCOME TO <%= site_name %></span>
    <h1 class="fw-bold mt-3">Best Way to Find Your Dream Car</h1>
    <p style="max-width: 600px; margin: 20px auto; font-size: 20px;" class="text-secondary">
      There are many variations of passages orem psum available but the majority have suffered alteration in some form by injected humour.
    </p>
    <div class="flex-lg-wrap" style="gap: 10px;">
      <a class="theme-btn w-auto">About More</a>
      <a class="btn-white w-auto">Learn More</a>
    </div>
  </section>
  <section class="hero bg-light position-relative">
    <form id="car-form" action="/api/search-car" method="POST">
      <div class="form-container">
          <h3 class="fw-bold">Let's Find Your Car</h3>
          <div class="bg-light p-3 rounded">
              <div class="row">
                  <div class="col-12 col-lg-5">
                      <label for="input-brand" class="form-label">Brand</label>
                      <select id="input-brand" name="brand_id" class="form-select" aria-label="Brand"></select>
                  </div>
                  <div class="col-12 col-lg-5">
                      <label for="input-model" class="form-label">Model</label>
                      <select id="input-model" name="model_id" class="form-select" aria-label="Model"></select>
                  </div>
                  <div class="col-12 col-lg-5">
                      <label for="input-generation" class="form-label">Generation</label>
                      <select id="input-generation" name="generation_id" class="form-select" aria-label="Generation"></select>
                  </div>
                  <div class="col-12 col-lg-5">
                      <label for="input-engine" class="form-label">Engine</label>
                      <select id="input-engine" name="engine" class="form-select" aria-label="Engine"></select>
                  </div>
              </div>
          </div>
          <div class="d-flex justify-content-end mt-2">
              <button type="submit" class="theme-btn">
                  <i class="bi bi-search"></i> Search
              </button>
          </div>
      </div>
    </form>
    <div class="about-us" style="padding: 150px 0;">
      <div class="container" style="max-width: 90%;">
        <div class="row">
          <div class="col about-img d-none d-md-block">
            <div class="bg-dark" style="position: absolute; width: 200px; height: 80px; top: 0; left: 0; border-radius: 10px; padding: 8px; display: flex; align-items: center; gap: 5px;">
              <div style="width: 70px; height: 100%; background-color: red; border-radius: 8px; display: flex; justify-content: center; align-items: center; padding: 8px;">
                <img src="/assets/images/car-icon.webp" alt="<%= meta_title %>" style="width: 100%;">
              </div>
              <p class="text-white" style="font-weight: 700;">Real-time specs new arrivals</p>
            </div>
          </div>
          <div class="col">
            <div class=" d-flex align-items-center">
              <img src="/assets/images/car-96.webp" alt="<%= meta_title %>" style="width: 20px;"> 
              <div class="ms-2 text-red"><b>ABOUT US</b></div>
            </div>
            <h1 class="mt-2" style="font-weight: 700;">World Largest <span class="text-red">Car Specifications</span> Marketplace.</h1>
            <p class="mt-4 mb-4">Your one-stop destination for the most comprehensive car specifications. Explore detailed information on a wide range of vehicles and find the perfect car for your needs.</p>
            <a href="#discover-more" class="theme-btn">Discover More <b><span class="arrow">&rarr;</span></b></a>
          </div>
        </div>
      </div>
    </div>
    <div class="banner">
      <div class="banner-item">
        <div class="icon-round">
          <img src="/assets/images/car-icon.webp" alt="<%= meta_title %>" >
        </div>
        <h5 class="text-white text-center mt-2" style="font-weight: 600;">Global Car</h5>
        <h3 class="text-white text-center">Specifications</h3>
      </div>
      <div class="banner-item">
        <div class="icon-round" style="border-radius: 100%; background-color: black; width: 130px; height: 130px; display: flex; align-items: center; justify-content: center; border: 4px solid white;">
          <img src="/assets/images/gear.webp" alt="<%= meta_title %>" style="width: 70px;">
        </div>
        <h5 class="text-white text-center mt-2" style="font-weight: 600;" data-count="<%= datas.totalBrand %>" id="brandCount">0</h5>
        <h3 class="text-white text-center">Brands</h3>
      </div>
      <div class="banner-item">
        <div class="icon-round" style="border-radius: 100%; background-color: black; width: 130px; height: 130px; display: flex; align-items: center; justify-content: center; border: 4px solid white;">
          <img src="/assets/images/car-icon.webp" alt="<%= meta_title %>">
        </div>
        <h5 class="text-white text-center mt-2" style="font-weight: 600;" data-count="<%= datas.totalCar %>" id="carCount">0</h5>
        <h3 class="text-white text-center">Cars</h3>
      </div>
    </div>
  </section>
  <section class="recent-cars bg-light">
    <div class="recent-cars">
      <div class="title">
        <h3>NEW ARRIVALS</h3>
        <h1>Let's Check Latest <span>Cars</span></h1>
      </div>

      <div class="container p-4">
        <div class="row d-flex justify-content-center">
          <% datas.recentCars.forEach(rc => { %>
          <div class="col-11 col-sm-12 col-md-4 col-lg-2 d-flex">
            <a href="/specs/<%= rc.id %>" class="model-link flex-fill">
              <div class="recent-card d-flex flex-column">
                <div class="frame flex-grow-1">
                  <img
                    src="/assets/<%= rc.image_path %>"
                    alt="<%= meta_title %>"
                    onerror="this.onerror=null; this.src='/nomodels.webp';"
                    class="img-fluid"
                  />
                </div>
                <div class="card-content">
                  <p><%= rc.generation_name %></p>
                  <p><%= rc.engine %></p>
                  <h6><%= rc.body_type %></h6>
                </div>
              </div>
            </a>
          </div>
          <% }) %>
        </div>
      </div>   
    </div> 
  </section>
  <section class="brands">
    <div class="title text-center mt-4 mb-4">
      <h3>FEATURED COLLECTION</h3>
      <h1>Discover Top <span>Brands</span></h1>
    </div>
    <div class="brand-list bg-white">
      <% datas.brands.forEach(brand => { %>
        <a href="<%= brand.id === 'all-brand' ? '/brands' : '/brands/' + brand.id + '/models' %>" class="brand-card">
          <div class="brand">
            <img src="/assets<%= brand.image_path %>" alt="<%= meta_title %>" onerror="this.onerror=null; this.src='/notbrands.webp';">
            <h3><%= brand.name %></h3>
          </div>
        </a>
      <%}) %>
    </div>
  </section>
</div>
