<div class="layout-brands">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="/brands" class="nav-link">Autocatalog</a>
    </li>
    <li class="nav-item">
      <span class="arrow">&rarr;</span>
    </li>
    <li class="nav-item">
      <a href="/brands/<%= data.brand_id %>/models" class="nav-link"
        ><%= data.brand_name %></a
      >
    </li>
    <li class="nav-item">
      <span class="arrow">&rarr;</span>
    </li>
    <li class="nav-item">
      <a href="/brands/models/<%= data.model_id %>/generations" class="nav-link"
        ><%= data.model_name %></a
      >
    </li>
    <li class="nav-item">
      <span class="arrow">&rarr;</span>
    </li>
    <li class="nav-item">
      <a href="/generation-list/<%= data.generation_id %>" class="nav-link"
        ><%= data.generation_name %></a
      >
    </li>
    <li class="nav-item">
      <span class="arrow">&rarr;</span>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link active"><%= data.engine%></a>
    </li>
  </ul>
</div>

<div class="container mt-5">
  <div class="detail">
    <table class="table table-bordered cardetailsout car2">
      <caption>
        <h2 class="car-name"><%= data.name %></h2>
      </caption>
      <tbody>
        <%- include('./partials/spec/general_information.ejs') %>
        <%- include('./partials/spec/performance_spec.ejs') %>
        <%- include('./partials/spec/engine_spec.ejs') %>
        <%- include('./partials/spec/dimension.ejs') %>
      </tbody>
    </table>
  </div>
</div>

