<div class="col-lg-12 col-md-12">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Drivetrain Brakes Suspension</h5>
      <div class="form-group d-grid gap-3">
        <div class="row" id="drivetrain_architecture">
          <label
            for="input_drivetrain_architecture"
            class="col-md-2 col-lg-4 col-form-label"
            >Drivetrain Architecture</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="drivetrain_architecture"
              type="text"
              class="form-control"
              id="input_drivetrain_architecture"
              value="<%= data.car?.drivetrain_architecture %>"
            />
          </div>
        </div>
        <div class="row" id="drive_wheel">
          <label
            for="input_drive_wheel"
            class="col-md-2 col-lg-4 col-form-label"
            >Drive Wheel</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="drive_wheel"
              type="text"
              class="form-control"
              id="input_drive_wheel"
              value="<%= data.car?.drive_wheel %>"
            />
          </div>
        </div>
        <div class="row" id="number_of_gears_and_type_of_gearbox">
          <label
            for="input_number_of_gears_and_type_of_gearbox"
            class="col-md-2 col-lg-4 col-form-label"
            >Number of gears and type of gearbox</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="number_of_gears_and_type_of_gearbox"
              type="text"
              class="form-control"
              id="input_number_of_gears_and_type_of_gearbox"
              value="<%= data.car?.number_of_gears_and_type_of_gearbox %>"
            />
          </div>
        </div>
        <div class="row" id="front_suspension">
          <label
            for="input_front_suspension"
            class="col-md-2 col-lg-4 col-form-label"
            >Front Suspension</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="front_suspension"
              type="text"
              class="form-control"
              id="input_front_suspension"
              value="<%= data.car?.front_suspension %>"
            />
          </div>
        </div>
        <div class="row" id="rear_suspension">
          <label
            for="input_rear_suspension"
            class="col-md-2 col-lg-4 col-form-label"
            >Rear Suspension</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="rear_suspension"
              type="text"
              class="form-control"
              id="input_rear_suspension"
              value="<%= data.car?.rear_suspension %>"
            />
          </div>
        </div>
        <div class="row" id="front_brakes">
          <label
            for="input_front_brakes"
            class="col-md-2 col-lg-4 col-form-label"
            >Front Brakes</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="front_brakes"
              type="text"
              class="form-control"
              id="input_front_brakes"
              value="<%= data.car?.front_brakes %>"
            />
          </div>
        </div>
        <div class="row" id="rear_brakes">
          <label
            for="input_rear_brakes"
            class="col-md-2 col-lg-4 col-form-label"
            >Rear Brakes</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="rear_brakes"
              type="text"
              class="form-control"
              id="input_rear_brakes"
              value="<%= data.car?.rear_brakes %>"
            />
          </div>
        </div>
        <div class="row" id="assisting_systems">
          <label
            for="input_assisting_systems"
            class="col-md-2 col-lg-4 col-form-label"
            >Assisting Systems</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="assisting_systems"
              type="text"
              class="form-control"
              id="input_assisting_systems"
              value="<%= data.car?.assisting_systems %>"
            />
          </div>
        </div>
        <div class="row" id="tires_size">
          <label for="input_tires_size" class="col-md-2 col-lg-4 col-form-label"
            >Tires Size</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="tires_size"
              type="text"
              class="form-control"
              id="input_tires_size"
              value="<%= data.car?.tires_size %>"
            />
          </div>
        </div>
        <div class="row" id="wheel_rims_size">
          <label
            for="input_wheel_rims_size"
            class="col-md-2 col-lg-4 col-form-label"
            >Wheel Rims Size</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="wheel_rims_size"
              type="text"
              class="form-control"
              id="input_wheel_rims_size"
              value="<%= data.car?.wheel_rims_size %>"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
