<div class="col-lg-12 col-md-12">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Engine Spec</h5>
      <div class="form-group d-grid gap-3">
        <div class="row">
          <label for="input_power" class="col-md-2 col-lg-4 col-form-label"
            >Power</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="power"
              type="text"
              class="form-control"
              id="input_power"
              value="<%= data.car?.power %>"
            />
          </div>
        </div>
        <div class="row" id="power_per_litre">
          <label
            for="input_power_per_litre"
            class="col-md-2 col-lg-4 col-form-label"
            >Power Per Litre</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="power_per_litre"
              type="text"
              class="form-control"
              id="input_power_per_litre"
              value="<%= data.car?.power_per_litre %>"
            />
          </div>
        </div>
        <div class="row" id="torque">
          <label for="input_torque" class="col-md-2 col-lg-4 col-form-label"
            >Torque</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="torque"
              type="text"
              class="form-control"
              id="input_torque"
              value="<%= data.car?.torque %>"
            />
          </div>
        </div>
        <div class="row" id="engine_layout">
          <label
            for="input_engine_layout"
            class="col-md-2 col-lg-4 col-form-label"
            >Engine Layout</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="engine_layout"
              type="text"
              class="form-control"
              id="input_engine_layout"
              value="<%= data.car?.engine_layout %>"
            />
          </div>
        </div>
        <div class="row" id="engine_model">
          <label
            for="input_engine_model"
            class="col-md-2 col-lg-4 col-form-label"
            >Engine Model</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="engine_model"
              type="text"
              class="form-control"
              id="input_engine_model"
              value="<%= data.car?.engine_model %>"
            />
          </div>
        </div>
        <div class="row" id="engine_displacement">
          <label
            for="input_engine_displacement"
            class="col-md-2 col-lg-4 col-form-label"
            >Engine Displacement</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="engine_displacement"
              type="text"
              class="form-control"
              id="input_engine_displacement"
              value="<%= data.car?.engine_displacement %>"
            />
          </div>
        </div>
        <div class="row" id="number_cylinders">
          <label
            for="input_number_cylinders"
            class="col-md-2 col-lg-4 col-form-label"
            >Number Cylinders</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="number_cylinders"
              type="text"
              class="form-control"
              id="input_number_cylinders"
              value="<%= data.car?.number_cylinders %>"
            />
          </div>
        </div>
        <div class="row" id="engine_configuration">
          <label
            for="input_engine_configuration"
            class="col-md-2 col-lg-4 col-form-label"
            >Engine Configuration</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="engine_configuration"
              type="text"
              class="form-control"
              id="input_engine_configuration"
              value="<%= data.car?.engine_configuration %>"
            />
          </div>
        </div>
        <div class="row" id="cylinder_bore">
          <label
            for="input_cylinder_bore"
            class="col-md-2 col-lg-4 col-form-label"
            >Cylinder Bore</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="cylinder_bore"
              type="text"
              class="form-control"
              id="input_cylinder_bore"
              value="<%= data.car?.cylinder_bore %>"
            />
          </div>
        </div>
        <div class="row" id="piston_stroke">
          <label
            for="input_piston_stroke"
            class="col-md-2 col-lg-4 col-form-label"
            >Piston Stroke</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="piston_stroke"
              type="text"
              class="form-control"
              id="input_piston_stroke"
              value="<%= data.car?.piston_stroke %>"
            />
          </div>
        </div>
        <div class="row" id="compression_ratio">
          <label
            for="input_compression_ratio"
            class="col-md-2 col-lg-4 col-form-label"
            >Compression Ratio</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="compression_ratio"
              type="text"
              class="form-control"
              id="input_compression_ratio"
              value="<%= data.car?.compression_ratio %>"
            />
          </div>
        </div>
        <div class="row" id="number_valves_per_cylinder">
          <label
            for="input_number_valves_per_cylinder"
            class="col-md-2 col-lg-4 col-form-label"
            >Number Valves Per Cylinder</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="number_valves_per_cylinder"
              type="text"
              class="form-control"
              id="input_number_valves_per_cylinder"
              value="<%= data.car?.number_valves_per_cylinder %>"
            />
          </div>
        </div>
        <div class="row" id="fuel_injection_system">
          <label
            for="input_fuel_injection_system"
            class="col-md-2 col-lg-4 col-form-label"
            >Fuel Injection System</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="fuel_injection_system"
              type="text"
              class="form-control"
              id="input_fuel_injection_system"
              value="<%= data.car?.fuel_injection_system %>"
            />
          </div>
        </div>
        <div class="row" id="engine_aspiration">
          <label
            for="input_engine_aspiration"
            class="col-md-2 col-lg-4 col-form-label"
            >Engine Aspiration</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="engine_aspiration"
              type="text"
              class="form-control"
              id="input_engine_aspiration"
              value="<%= data.car?.engine_aspiration %>"
            />
          </div>
        </div>
        <div class="row" id="engine_oil_capacity">
          <label
            for="input_engine_oil_capacity"
            class="col-md-2 col-lg-4 col-form-label"
            >Engine Oil Capacity</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="engine_oil_capacity"
              type="text"
              class="form-control"
              id="input_engine_oil_capacity"
              value="<%= data.car?.engine_oil_capacity %>"
            />
          </div>
        </div>
        <div class="row" id="engine_oil_specification">
          <label
            for="input_engine_oil_specification"
            class="col-md-2 col-lg-4 col-form-label"
            >Engine Oil Specification</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="engine_oil_specification"
              type="text"
              class="form-control"
              id="input_engine_oil_specification"
              value="<%= data.car?.engine_oil_specification %>"
            />
          </div>
        </div>
        <div class="row" id="engine_system">
          <label
            for="input_engine_system"
            class="col-md-2 col-lg-4 col-form-label"
            >Engine System</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="engine_system"
              type="text"
              class="form-control"
              id="input_engine_system"
              value="<%= data.car?.engine_system %>"
            />
          </div>
        </div>
        <div class="row" id="coolant">
          <label for="input_coolant" class="col-md-2 col-lg-4 col-form-label"
            >Coolant</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="coolant"
              type="text"
              class="form-control"
              id="input_coolant"
              value="<%= data.car?.coolant %>"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
