<div class="col-lg-12 col-md-12">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Spaces</h5>
      <div class="form-group d-grid gap-3">
        <div class="row" id="kerb_weight">
          <label
            for="input_kerb_weight"
            class="col-md-2 col-lg-4 col-form-label"
            >Kerb Weight</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="kerb_weight"
              type="text"
              class="form-control"
              id="input_kerb_weight"
              value="<%= data.car?.kerb_weight %>"
            />
          </div>
        </div>
        <div class="row" id="trunk_space_minimum">
          <label
            for="input_trunk_space_minimum"
            class="col-md-2 col-lg-4 col-form-label"
            >Trunk Space Minimum</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="trunk_space_minimum"
              type="text"
              class="form-control"
              id="input_trunk_space_minimum"
              value="<%= data.car?.trunk_space_minimum %>"
            />
          </div>
        </div>
        <div class="row" id="trunk_space_maximum">
          <label
            for="input_trunk_space_maximum"
            class="col-md-2 col-lg-4 col-form-label"
            >Trunk Space Maximum</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="trunk_space_maximum"
              type="text"
              class="form-control"
              id="input_trunk_space_maximum"
              value="<%= data.car?.trunk_space_maximum %>"
            />
          </div>
        </div>
        <div class="row" id="max_load">
          <label for="input_max_load" class="col-md-2 col-lg-4 col-form-label"
            >Max Load</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="max_load"
              type="text"
              class="form-control"
              id="input_max_load"
              value="<%= data.car?.max_load %>"
            />
          </div>
        </div>
        <div class="row" id="fuel_tank_capacity">
          <label
            for="input_fuel_tank_capacity"
            class="col-md-2 col-lg-4 col-form-label"
            >Fuel Tank Capacity</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="fuel_tank_capacity"
              type="text"
              class="form-control"
              id="input_fuel_tank_capacity"
              value="<%= data.car?.fuel_tank_capacity %>"
            />
          </div>
        </div>
        <div class="row" id="permitted_trailer_load_with_brakes">
          <label
            for="input_permitted_trailer_load_with_brakes"
            class="col-md-2 col-lg-4 col-form-label"
            >Permitted Trailer Load With Brakes</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="permitted_trailer_load_with_brakes"
              type="text"
              class="form-control"
              id="input_permitted_trailer_load_with_brakes"
              value="<%= data.car?.permitted_trailer_load_with_brakes %>"
            />
          </div>
        </div>
        <div class="row" id="permitted_trailer_load_with_brakes">
          <label
            for="input_permitted_trailer_load_without_brakes"
            class="col-md-2 col-lg-4 col-form-label"
            >Permitted Trailer Load Without Brakes</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="permitted_trailer_load_without_brakes"
              type="text"
              class="form-control"
              id="input_permitted_trailer_load_without_brakes"
              value="<%= data.car?.permitted_trailer_load_without_brakes %>"
            />
          </div>
        </div>
        <div class="row" id="permitted_towbardownload">
          <label
            for="input_permitted_towbardownload"
            class="col-md-2 col-lg-4 col-form-label"
            >Permitted Towbardownload</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="permitted_towbardownload"
              type="text"
              class="form-control"
              id="input_permitted_towbardownload"
              value="<%= data.car?.permitted_towbardownload %>"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
