<div class="col-lg-12 col-md-12">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Banner Form</h5>
      <div class="form-group d-grid gap-3">
        <div class="row">
          <label for="ads_name" class="col-md-2 col-lg-2 col-form-label">Ads Name</label>
          <div class="col-md-6 col-lg-4">
            <input
              name="ads_name"
              type="text"
              class="form-control"
              id="input-ads-name"
              value="<%= data?.adsname %>"
            />
          </div>
        </div>

        <div class="row">
          <label for="ads_position" class="col-md-2 col-lg-2 col-form-label">Ads Position</label>
          <div class="col-md-6 col-lg-4">
            <select
              name="ads_position"
              id="input-ads-position"
              aria-label="Ads Position"
              class="form-select"
            >
              <option value="paling-awal" <%= data?.position == 'paling-awal' ? 'selected' : '' %>>Paling Awal</option>
              <option value="bawah-judul" <%= data?.position == 'bawah-judul' ? 'selected' : '' %>>Bawah Judul</option>
            </select>
          </div>
        </div>
        
        <div class="row">
          <label for="ads_start_date" class="col-md-2 col-lg-2 col-form-label">Start Date</label>
          <div class="col-md-6 col-lg-4">
            <input
              name="ads_start_date"
              type="date"
              class="form-control"
              id="input-ads-start-date"
              value="<%= data?.start_date %>"
            />
          </div>
        </div>

        <div class="row">
          <label for="ads_end_date" class="col-md-2 col-lg-2 col-form-label">End Date</label>
          <div class="col-md-6 col-lg-4">
            <input
              name="ads_end_date"
              type="date"
              class="form-control"
              id="input-ads-end-date"
              value="<%= data?.end_date %>"
            />
          </div>
        </div>

        <div class="row">
          <label for="ads_type" class="col-md-2 col-lg-2 col-form-label">Ads Type</label>
          <div class="col-md-6 col-lg-4">
            <select
              name="ads_type"
              id="input-ads-type"
              aria-label="Ads Type"
              class="form-select"
            >
              <option value="code" <%= data?.type == 'code' ? 'selected' : '' %>>Code</option>
              <option value="image" <%= data?.type == 'image' ? 'selected' : '' %>>Image</option>
            </select>
          </div>
        </div>

        <div class="row" id="ads-code">
          <label for="input-ads-code" class="col-md-2 col-lg-2 col-form-label">Ads Code</label>
          <div class="col-md-6 col-lg-6">
            <textarea
              name="ads_code"
              id="input-ads-code"
              style="height: 150px; display: inline;"
              class="form-control"
            ><%= data?.code %></textarea>
          </div>
        </div>

        <div class="row g-3 mb-3" id="ads-image">
          <label for="ads_image" class="col-md-2 col-form-label">Image</label>
          <div class="col-md-6">
            <div id="image-preview-container">
              <img
                id="image-preview"
                src="<%= data?.image_path || '/assets/nice-iconly/assets/img/preview.png' %>"
                alt="Image Preview"
                class="img-thumbnail"
                style="min-width: 200px; max-width: 200px; min-height: 200px; max-height: 200px;"
              />
            </div>
            <div class="pt-2">
              <label for="input-image" class="btn btn-primary btn-sm" title="Upload image">
                <i class="icon-upload"></i>
                <input
                  name="ads_image"
                  type="file"
                  id="input-image"
                  accept="image/*"
                  style="display: none;"
                />
              </label>
              <a
                href="#"
                class="btn btn-danger btn-sm"
                title="Remove image"
                id="remove-image"
              >
                <i class="icon-trash-alt"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="row" id="ads-url">
          <label for="input-ads-url" class="col-md-2 col-lg-2 col-form-label">Ads Url</label>
          <div class="col-md-6 col-lg-4">
            <input
              name="ads_url"
              type="text"
              class="form-control"
              id="input-ads-url"
              value="<%= data?.url %>"
            />
          </div>
        </div>

        <div class="row">
          <label for="ads_status" class="col-md-2 col-lg-2 col-form-label">Ads Status</label>
          <div class="col-md-6 col-lg-4">
            <select
              name="ads_status"
              id="input-ads-status"
              aria-label="Ads Status"
              class="form-select"
            >
              <option value="enabled" <%= data?.status == 'enabled' ? 'selected' : '' %>>Enabled</option>
              <option value="disabled" <%= data?.status == 'disabled' ? 'selected' : '' %>>Disabled</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
