<form action="/admin/setting" method="POST">
  <div class="pagetitle mb-3">
    <div class="row align-items-center">
      <div class="col-md-8 mt-2">
        <h1 class="fs-4 mb-1">Settings</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Setting</li>
          </ol>
        </nav>
      </div>
      <div class="col-md-4">
        <div class="text-end">
          <button type="submit" title="Save" class="btn btn-primary">
            Save
          </button>
          <a href="index.html" class="btn btn-secondary">Cancel</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item">
                <a
                  class="nav-link active w-100"
                  data-bs-toggle="tab"
                  href="#setting-general"
                  >General</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#setting-seo"
                  >SEO</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link w-100"
                  data-bs-toggle="tab"
                  href="#setting-image"
                  >Image</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link w-100"
                  data-bs-toggle="tab"
                  href="#setting-sosmed"
                  >Sosmed</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link w-100"
                  data-bs-toggle="tab"
                  href="#setting-smtp"
                  >SMTP</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link w-100"
                  data-bs-toggle="tab"
                  href="#setting-other"
                  >Other</a
                >
              </li>
            </ul>

            <div class="tab-content pt-4">
              <!-- General Settings -->
              <div class="tab-pane fade pt-2 show active" id="setting-general">
                <div class="form-group d-grid gap-3">
                  <div class="row mb-3">
                    <label
                      for="site_name"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Site Name</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="site_name"
                        type="text"
                        class="form-control"
                        id="site_name"
                        value="<%= data.site_name %>"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label
                      for="site_url"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Site URL</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="site_url"
                        type="text"
                        class="form-control"
                        id="site_url"
                        value="<%= data.site_url %>"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label
                      for="about_site"
                      class="col-md-4 col-lg-3 col-form-label"
                      >About Site</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <textarea
                        name="about_site"
                        id="input-about-site"
                        rows="4"
                        class="form-control"
                      >
                        <%= data.about_site %>
                      </textarea>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label
                      for="disclaimer_text"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Disclaimer Text</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <textarea
                        name="disclaimer_text"
                        id="input-disclaimer-text"
                        rows="4"
                        class="form-control"
                      >
                      <%= data.disclaimer %>
                    </textarea
                      >
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label
                      for="copyright_text"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Copyright Text</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <textarea
                        name="copyright_text"
                        id="input-copyright-text"
                        rows="4"
                        class="form-control"
                      >
                      <%= data.copyright %>
                    </textarea
                      >
                    </div>
                  </div>
                </div>
              </div>

              <!-- SEO Settings -->
              <div class="tab-pane fade pt-2" id="setting-seo">
                <div class="form-group d-grid gap-3">
                  <div class="row mb-3">
                    <label
                      for="meta_title"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Meta Title</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        type="text"
                        name="meta_title"
                        value="<%= data.meta_title %>"
                        placeholder="Meta Title"
                        id="input-meta-title"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label
                      for="meta_description"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Meta Description</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <textarea
                        name="meta_description"
                        placeholder="Meta Description"
                        id="input-meta-description"
                        rows="4"
                        class="form-control"
                      >
                        <%= data.meta_description %>
                      </textarea>
                    </div>
                  </div>
                  <h5 class="my-3 header-title">Opengraph</h5>
                  <div class="row mb-3">
                    <label
                      for="opengraph_type"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Opengraph Type</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        type="text"
                        name="opengraph_type"
                        value="website"
                        placeholder="Opengraph Type"
                        id="input-opengraph-type"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label
                      for="opengraph_locale"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Opengraph Locale</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        type="text"
                        name="opengraph_locale"
                        value="id_ID"
                        placeholder="Opengraph Locale"
                        id="input-opengraph-locale"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label"
                      >Opengraph Image</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <img
                        src="assets/img/preview.png"
                        class="img-thumbnail"
                        alt="Opengraph Image"
                      />
                      <div class="pt-2">
                        <a
                          href="#"
                          class="btn btn-primary btn-sm"
                          title="Upload image"
                          ><i class="icon-upload"></i
                        ></a>
                        <a
                          href="#"
                          class="btn btn-danger btn-sm"
                          title="Remove image"
                          ><i class="icon-trash-alt"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label
                      for="opengraph_image_type"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Opengraph Image Type</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        type="text"
                        name="opengraph_image_type"
                        value="image/jpg"
                        placeholder="Opengraph Image Type"
                        id="input-image-type"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label"
                      >Image Size</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <div class="row">
                        <div class="col-sm-6 mb-3">
                          <input
                            type="text"
                            name="opengraph_image_width"
                            value="1200"
                            placeholder="Opengraph Image Width"
                            id="input-opengraph-image-width"
                            class="form-control"
                          />
                        </div>
                        <div class="col-sm-6 mb-3">
                          <input
                            type="text"
                            name="opengraph_image_height"
                            value="630"
                            placeholder="Opengraph Image Height"
                            id="input-opengraph-image-height"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <h5 class="my-3 header-title">Twitter Card</h5>
                  <div class="row mb-3">
                    <label
                      for="twitter_card"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Twitter Card</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        type="text"
                        name="twitter_card"
                        value="summary_large_image"
                        placeholder="Twitter Card"
                        id="input-twitter-card"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <!-- Image Settings -->
              <div class="tab-pane fade pt-2" id="setting-image">
                <div class="form-group d-grid gap-3">
                  <h5 class="my-3 header-title">Logo</h5>
                  <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label"
                      >Site Logo</label
                    >
                    <div class="col-md-6 col-lg-4">
                      <div id="image-preview-container">
                        <img
                          id="image-preview"
                          src="/assets/nice-iconly/assets/img/preview.png"
                          class="img-thumbnail"
                        />
                      </div>
                      <div class="pt-2">
                        <label
                          for="input-image"
                          class="btn btn-primary btn-sm"
                          title="Upload image"
                        >
                          <i class="icon-upload"></i>
                          <input
                            name="site_logo"
                            type="file"
                            id="input-image"
                            accept="image/*"
                            style="display: none"
                          />
                        </label>
                        <a
                          href="#"
                          class="btn btn-danger btn-sm"
                          title="Remove image"
                          id="remove-image"
                        >
                          <i class="icon-trash-alt"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <h5 class="my-3 header-title">Favicon</h5>
                  <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label"
                      >Favicon</label
                    >
                    <div class="col-md-6 col-lg-4">
                      <div id="image-preview-container">
                        <img
                          id="image-preview"
                          src="/assets/nice-iconly/assets/img/preview.png"
                          class="img-thumbnail"
                        />
                      </div>
                      <div class="pt-2">
                        <label
                          for="input-image"
                          class="btn btn-primary btn-sm"
                          title="Upload image"
                        >
                          <i class="icon-upload"></i>
                          <input
                            name="favicon"
                            type="file"
                            id="input-image"
                            accept="image/*"
                            style="display: none"
                          />
                        </label>
                        <a
                          href="#"
                          class="btn btn-danger btn-sm"
                          title="Remove image"
                          id="remove-image"
                        >
                          <i class="icon-trash-alt"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Sosmed Settings -->
              <div class="tab-pane fade pt-2" id="setting-sosmed">
                <div class="form-group d-grid gap-3">
                  <div class="row mb-3">
                    <label
                      for="sosmed_facebook"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Facebook URL</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="sosmed_facebook"
                        type="text"
                        class="form-control"
                        id="sosmed_facebook"
                        value="<%= data.facebook_url %>"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label
                      for="sosmed_instagram"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Instagram URL</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="sosmed_instagram"
                        type="text"
                        class="form-control"
                        id="sosmed_instagram"
                        value="<%= data.instagram_url %>"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label
                      for="sosmed_twitter"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Twitter URL</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="sosmed_twitter"
                        type="text"
                        class="form-control"
                        id="sosmed_twitter"
                        value="<%= data.twitter_url %>"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label
                      for="sosmed_youtube"
                      class="col-md-4 col-lg-3 col-form-label"
                      >YouTube URL</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="sosmed_youtube"
                        type="text"
                        class="form-control"
                        id="sosmed_youtube"
                        value="<%= data.youtube_url %>"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <!-- SMTP Settings -->
              <div class="tab-pane fade pt-2" id="setting-smtp">
                <div class="form-group d-grid gap-3">
                  <div class="row mb-3">
                    <label
                      for="smtp_host"
                      class="col-md-4 col-lg-3 col-form-label"
                      >SMTP Host</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="smtp_host"
                        type="text"
                        class="form-control"
                        id="smtp_host"
                        value="smtp.example.com"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label
                      for="smtp_port"
                      class="col-md-4 col-lg-3 col-form-label"
                      >SMTP Port</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="smtp_port"
                        type="text"
                        class="form-control"
                        id="smtp_port"
                        value="587"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label
                      for="smtp_user"
                      class="col-md-4 col-lg-3 col-form-label"
                      >SMTP User</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="smtp_user"
                        type="text"
                        class="form-control"
                        id="smtp_user"
                        value="user@example.com"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label
                      for="smtp_pass"
                      class="col-md-4 col-lg-3 col-form-label"
                      >SMTP Password</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="smtp_pass"
                        type="password"
                        class="form-control"
                        id="smtp_pass"
                        value="password"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <!-- Other Settings -->
              <div class="tab-pane fade pt-2" id="setting-other">
                <div class="form-group d-grid gap-3">
                  <div class="row mb-3">
                    <label
                      for="timezone"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Timezone</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="timezone"
                        type="text"
                        class="form-control"
                        id="timezone"
                        value="Asia/Jakarta"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label
                      for="currency"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Currency</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="currency"
                        type="text"
                        class="form-control"
                        id="currency"
                        value="IDR"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label
                      for="default_language"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Default Language</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="default_language"
                        type="text"
                        class="form-control"
                        id="default_language"
                        value="en"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Bordered Tabs -->
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
