<tr class="no-border">
  <th colspan="2" class="text-center bg-danger text-white">
    <strong class="car">Drivetrain, brakes and suspension specs</strong>
  </th>
</tr>

<% var data = data.drivetrain %>

<% if(data.drivetrain_architecture !== ''){%>
  <tr>
    <th>Drivetrain Architecture</th>
    <td><%= data.drivetrain_architecture%></td>
  </tr>
<%};%>
<% if(data.drive_wheel !== ''){%>
  <tr>
    <th>Drive Wheel</th>
    <td><%= data.drive_wheel %></td>
  </tr>
<%};%>
<% if(data.number_of_gears_and_type_of_gearbox !== ''){%>
  <tr>
    <th>Number of gears and type of gearbox </th>
    <td><%= data.number_of_gears_and_type_of_gearbox %></td>
  </tr>
<%};%>
<% if(data.front_suspension !== ''){%>
  <tr>
    <th>Front Suspension</th>
    <td><%= data.front_suspension %></td>
  </tr>
<%};%>
<% if(data.rear_suspension !== ''){%>
  <tr>
    <th>Rear Suspension</th>
    <td><%= data.rear_suspension %></td>
  </tr>
<%};%>
<% if(data.front_brakes !== ''){%>
  <tr>
    <th>Front Brakes</th>
    <td><%= data.front_brakes %></td>
  </tr>
<%};%>
<% if(data.rear_brakes !== ''){%>
  <tr>
    <th>Rear Brakes</th>
    <td><%= data.rear_brakes %></td>
  </tr>
<%};%>
<% if(data.assisting_systems !== ''){%>
  <tr>
    <th>Assisting Systems</th>
    <td><%= data.assisting_systems %></td>
  </tr>
<%};%>
<% if(data.tires_size !== ''){%>
  <tr>
    <th>Tires Size</th>
    <td><%= data.tires_size %></td>
  </tr>
<%};%>
<% if(data.wheel_rims_size !== ''){%>
  <tr>
    <th>Wheel Rims Size</th>
    <td><%= data.wheel_rims_size %></td>
  </tr>
<%};%>