<div class="col-lg-8 col-md-8">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Page Form</h5>
      <div class="form-group mb-2">
        <label class="col-form-label">Title</label>
        <input
          type="text"
          name="title"
          placeholder="Title"
          id="title"
          class="form-control"
          value="<%= data?.title %>"
        />
      </div>
      <div class="form-group mb-2">
        <label class="col-form-label">Slug</label>
        <input
          type="text"
          name="slug"
          placeholder="Slug"
          id="slug"
          class="form-control"
          value="<%= data?.slug %>"
        />
        <div id="error-message" class="error-message"></div>
      </div>
      <div class="form-group mb-2">
        <label for="content" class="col-form-label">Content</label>
        <textarea
          name="content"
          id="input-content"
          rows="4"
          class="form-control"
        >
              <%= data?.content %>
          </textarea
        >
      </div>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Image</h5>
      <div class="form-group mb-2 col-12 text-center">
        <div id="image-preview-container">
          <img
            id="image-preview"
            src="<%= data?.image_path ? '/assets/' + data.image_path : '/assets/nice-iconly/assets/img/preview.png' %>"
            class="img-thumbnail"
            alt="Image Preview"
            style="max-width: 200px"
          />
        </div>
        <div class="pt-2">
          <label
            for="input-image"
            class="btn btn-primary btn-sm"
            title="Upload image"
          >
            <i class="icon-upload"></i>
            <input
              name="post_image"
              type="file"
              id="input-image"
              accept="image/*"
              style="display: none"
            />
          </label>
          <a
            class="btn btn-danger btn-sm"
            title="Remove image"
            id="remove-image"
          >
            <i class="icon-trash-alt"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Option & Publishing</h5>
      <div class="form-group mb-2">
        <label for="input-category" class="col-form-label">Category</label>
        <select
          id="input-category"
          name="category_id"
          class="form-select"
          style="width: 100%"
          aria-label="Category"
          value="<%= data?.category %>"
        ></select>
      </div>
      <div class="form-group mb-2">
        <label class="form-check-label col-form-label">Status</label>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="statusChecked"
          name="status" <%= data?.status ? 'checked' : '' %> />
          <label class="form-check-label" for="statusChecked">Published</label>
        </div>
      </div>
      <div class="form-group mb-2">
        <label for="date-published" class="col-form-label"
          >Date Published</label
        >
        <input
          type="date"
          class="form-control"
          id="date-published"
          name="date_published"
          placeholder="Select date"
          value="<%= data?.date_published ? new Date(data.date_published).toISOString().split('T')[0] : '' %>"
        />
      </div>
    </div>
  </div>
</div>
