<div class="layout-brands">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#" class="nav-link active">Brands</a>
    </li>
  </ul>
</div>
<section class="brands">

  <form action="/brands" method="GET" class="search-form d-flex">
    <input type="text" id="searchTerm" name="q" placeholder="Input brand name..." value="<%= searchTerm %>">
    <button class="ms-2" type="submit">Cari</button>
  </form>

  <div class="brand-list">
    <div class="alphabet-list">
      <% 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split('').forEach(letter => { %>
        <a href="#<%= letter.toLowerCase() %>"><%= letter %></a>
      <% }) %>
    </div>
    
    <% let currentLetter = ''; %>
    <div class="row">
      <% brands.forEach(brand => { %>
        <% if (brand.name[0].toUpperCase() !== currentLetter) { %>
          <% currentLetter = brand.name[0].toUpperCase(); %>
          <div class="letter" id="<%= currentLetter.toLowerCase() %>"><%= currentLetter %></div>
        <% } %>
        <div class="col-6 col-lg-2">
          <a href="/brands/<%= brand.param %>" class="brand-card">
            <img src="/assets<%= brand.image_path %>" alt="<%= memories.meta_title %>" onerror="this.onerror=null; this.src='/notbrands.webp';">
            <h3><%= brand.name %></h3>
          </a>
        </div>
      <% }) %>
    </div>
  </div>
</div>