<div class="layout-brands">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="/brands" class="nav-link">Brands</a>
    </li>
    <li class="nav-item">
      <span class="arrow">&rarr;</span>
    </li>
    <li class="nav-item">
      <a href="/brands/<%= datas[0].brand_param %>" class="nav-link"
        ><%= datas[0].brand_name %></a
      >
    </li>
    <li class="nav-item">
      <span class="arrow">&rarr;</span>
    </li>
    <li class="nav-item">
      <a
        href="/brands/<%= datas[0].brand_param %>/<%= datas[0].model_param %>"
        class="nav-link"
        ><%= datas[0].model_name %></a
      >
    </li>
    <li class="nav-item">
      <span class="arrow">&rarr;</span>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link active"><%= datas[0].generation_name %></a>
    </li>
  </ul>
</div>

<div class="container genlist">
  <div class="row">
    <% datas.forEach(item => { %>
    <div class="col-12 mb-4">
      <a
        href="/brands/<%= item.brand_param %>/<%= item.model_param %>/<%= item.gen_param %>/<%= item.engine %>"
        class="standar-link text-decoration-none car-link"
        data-url="/brands/<%= item.brand_param %>/<%= item.model_param %>/<%= item.gen_param %>/<%= item.engine %>"
      >
        <div
          class="card p-4 <%= item.flag === 'red' ? 'label-red' : 'label-green' %>"
        >
          <div class="card-body">
            <h5 class="card-title ps-2"><%= item.engine %></h5>
            <p class="card-text ps-2">
              <span
                ><%= item.start_production %> - <%= item.end_production %></span
              ><br />
              <span><%= item.acceleration_100kmh %></span>
            </p>
          </div>
        </div>
      </a>
    </div>
    <% }) %>
  </div>
</div>
